@import './foundation/variables';
@import './base/base';

.wrapper {
  width: 500px;
  max-width: 85%;
  margin: auto;
}

.pickupComment {
  position: relative;
  border: 1px solid $color-secondary;
  border-radius: 4px;
  background-color: $color-primary;
  color: $color-secondary;
  margin-bottom: 16px;
  padding: 8px;

  &::before {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    bottom: -16px;
    border-top: 8px solid $color-primary;
  }
}

.navList {
  list-style: none;
  display: flex;
  border: 1px solid $color-primary;
  border-left: none;

  li {
    flex: 1;
    border-left: 1px solid $color-primary;
    text-align: center;
    padding: 8px;

    &.navListCurrentItem {
      background-color: $color-primary;
      color: $color-secondary;
      font-weight: bold;
    }
  }
}